.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.reload-button {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 1px solid white;
    background: white;
}