.sidebar {
    background-color: #363636;
    color: white;
    height: 100vh;
    width: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease all;
}
.sidebar.active {
    width: 150px;
    align-items: flex-start;
}
.sidebar-title {
    margin-top: 20px;
    margin-left: 1px;
    cursor: pointer;
    transition: 0.3s ease all;
    width: 85%;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}

.description {
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: 0.3s ease all;
    width: 100%;
    margin-left: 20px;
    transition: 0.2s ease all;
}

.description > p {
    font-weight: bold;
}
.description > .fas,
.description > .far {
    margin-left: 10px;
}
.sidebar-title:hover {
    border: 1px solid white;
    background: white;
    border-radius: 5px;
    color: #363636;
}
